---
layout: default
title: Home | AVHS.best
heading: About Us
<!--subheading: The Amador Valley AP Computer Science server portal, created by students, for students.-->
---

<section class="hero is-info">
    <div class="hero-body has-text-centered">
        <!--<div class="columns is-mobile is-centered">-->
        <!--<div class="column">-->
        <h1 class="title is-1">
            {{ page.heading }}
        </h1>
        <h2 class="subtitle">
            {{ page.subheading }}
        </h2>
        <!--</div>-->
        <!--</div>-->
    </div>
</section>

<br />
<br />

