---
layout: default
title: Home | AVHS.best
heading: Welcome to AVHS.best!
subheading: The Amador Valley AP Computer Science server portal, created by students, for students.
---

<section id="landingHero" class="hero is-medium">
    <div class="hero-body has-text-centered">
        <!--<div class="columns is-mobile is-centered">-->
        <!--<div class="column">-->
        <h1 class="title is-1 has-text-white">
            {{ page.heading }}
        </h1>
        <h2 class="subtitle has-text-white">
            {{ page.subheading }}
        </h2>
        <!--</div>-->
        <!--</div>-->
    </div>
</section>

<br />
<br />

<div class="container">
    {% for section in site.data.landing.sections %}
    <div class="columns">
        <div class="column">
            <!--<h1 class="title is-3">What is AVHS.best?</h1>-->
            <!--<p class="is-size-5">-->
            <!--AVHS.best is the portal to Amador Valley AP Computer Science's server. It was created by the 2019-2020 APCS class to provide students a centralized way to store their code online, get help, and discuss all things computer science!-->
            <!--</p>-->
            <h1 class="title is-3">{{ section.title }}</h1>
            <p class="is-size-5">
            {{ section.content }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
