<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://avhs.best">
            <img src="assets/images/header.png" id="navLogo">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarAvhsBest" class="navbar-menu">
        <div class="navbar-start">
            {% for item in site.data.navigation %}
            <a class="navbar-item" href="{{ item.link }}">
                {{ item.name }}
            </a>
            {% endfor %}
        </div>

        <!--<div class="navbar-end">-->
            <!--<div class="navbar-item">-->
                <!--<div class="buttons">-->
                    <!--<a class="button is-primary">-->
                        <!--<strong>Sign up</strong>-->
                    <!--</a>-->
                    <!--<a class="button is-light">-->
                        <!--Log in-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</nav>
