#navLogo {
    max-height: 5rem !important;
}

#landingHero {
    background:
        linear-gradient(
            rgba(0,0,0,0.4),
            rgba(0,0,0,0.4)
        ),
        url('/assets/images/hero1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
